force-app/main/default/flows/Project_Approval_Process_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Approver</name>
        <label>Send Email to Approver</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Approved_By__r.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Project  has been Submitted for Your Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailtoAppover</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Send_Email_to_Approver</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!$Record.Name} is submitted for your approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_for_Created_Project</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>isnew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Project Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Approval Process Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Submit_for_Approval</targetReference>
        </connector>
        <object>Project_Order__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>EmailForApproved</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Dear {!$Record.Stakeholder__r.Name},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project No.&amp;nbsp;{!$Record.Name} , Named&amp;nbsp;{!$Record.Project_Name__c}&amp;nbsp;, has been Approved.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be&amp;nbsp;informed.!&lt;/p&gt;&lt;p&gt;Thank you...&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://changeforcefoundation--seymatelli.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068Dy000002FVHT&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TDy000005umr5&amp;amp;page=0&amp;amp;d=/a/Dy0000009UPB/m_P8mf0AXNwc7W2Z8c3HvCzEAw8YqKtd0LXQ.QlA8C4&amp;amp;oid=00DDy0000002LBP&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/span&gt;&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailForRejection</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Stakeholder__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project No.&amp;nbsp;{!$Record.Name} , Named&amp;nbsp;{!$Record.Project_Name__c}&amp;nbsp;, has been Rejected.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please be&amp;nbsp;informed.!&lt;/p&gt;&lt;p&gt;Thank you...&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;img src=&quot;https://changeforcefoundation--seymatelli.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068Dy000002FVHT&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TDy000005umr5&amp;amp;page=0&amp;amp;d=/a/Dy0000009UPB/m_P8mf0AXNwc7W2Z8c3HvCzEAw8YqKtd0LXQ.QlA8C4&amp;amp;oid=00DDy0000002LBP&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/span&gt;&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailtoAppover</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear Approver,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Project No.&amp;nbsp;{!$Record.Name} , Named&amp;nbsp;{!$Record.Project_Name__c}&amp;nbsp;, is submitted for your approval.&lt;/p&gt;&lt;p&gt;Please be&amp;nbsp;informed.!&lt;/p&gt;&lt;p&gt;Thank you...&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;img src=&quot;https://changeforcefoundation--seymatelli.sandbox.file.force.com/sfc/dist/version/renditionDownload?rendition=ORIGINAL_Png&amp;amp;versionId=068Dy000002FVHT&amp;amp;operationContext=DELIVERY&amp;amp;contentId=05TDy000005umr5&amp;amp;page=0&amp;amp;d=/a/Dy0000009UPB/m_P8mf0AXNwc7W2Z8c3HvCzEAw8YqKtd0LXQ.QlA8C4&amp;amp;oid=00DDy0000002LBP&amp;amp;dpt=null&amp;amp;viewId=&quot;&gt;&lt;/span&gt;&amp;nbsp;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
